<footer>
  <div class="links-cont row">
    <div class="block about-cont col-sm-3">
      <div>ABOUT</div>
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Newsroom</a></li>
        <li><a href="">Careers</a></li>
      </ul>
    </div>

    <div class="block support-cont col-sm-9">
      <div>SUPPORT</div>
      <ul>
        <li><a href="#">Help Centre</a></li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Payment</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">COVID-19 Information</a></li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="footer-cont row">
    <div class="copyrights-cont col-sm-9">
      &copy; 2020 DayIn | Minh Hang Nguyen
    </div>

    <div class="social-cont col-sm-3 text-center">
      <a href="#"><img src="/img/facebook.png" /></a>
      <a href="#"><img src="/img/twitter.png" /></a>
      <a href="#"><img src="/img/instagram.png" /></a>
    </div>
  </div>
</footer>