<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link rel="icon" href="/img/logo.png" />
    <title>DayIn Your Dream Home</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo my-auto">
          <a href="/index"><img src="/img/logo.png" /></a>
        </div>
        <div class="name my-auto"><a href="/index">DayIn</a></div>

        <a class="nav-button">Log Out</a>
      </nav>
    </header>

    <div class="main-book-now fluid-container">
      <div class="row">
        <div id="left-column" class="col-6">
          <div class="booking-info">
            <div class="head1">Confirm and pay</div>
            <div class="date-guest-info-cont">
              <div class="head3">Your trip</div>
              <div class="date-info">
                <div class="head6">Dates</div>
                <button
                  class="edit-button"
                  data-toggle="modal"
                  data-target="#dateModal"
                >
                  Edit
                </button>
                <p>13-Oct-2020 to 15-Oct-202</p>
              </div>
              <div class="guest-info">
                <div class="head6">Guests</div>
                <button
                  class="edit-button"
                  data-toggle="modal"
                  data-target="#guestModal"
                >
                  Edit
                </button>
                <p>2 guests</p>
              </div>
            </div>
            <hr />
            <div class="payment-info-cont">
              <div class="head3">Pay with credit card or debit card</div>
              <form action="" id="payment-form">
                <div class="fluid-container">
                  <div class="row">
                    <input
                      class="col"
                      type="text"
                      id="card-number"
                      name="card-number"
                      placeholder="Card number"
                    />
                  </div>
                  <div class="row">
                    <input
                      class="col"
                      type="text"
                      id="expired-date"
                      name="expired-date"
                      placeholder="Expired date"
                    />
                    <input
                      class="col"
                      type="text"
                      id="cvv"
                      name="cvv"
                      placeholder="CVV"
                    />
                  </div>
                  <div class="row">
                    <input
                      class="col"
                      type="text"
                      id="postal-code"
                      name="postal-code"
                      placeholder="Postal code"
                    />
                    <select class="col" id="country" name="country">
                      <option>Canada</option>
                      <option>England</option>
                      <option>France</option>
                      <option>German</option>
                      <option>Italy</option>
                      <option>United States</option>
                    </select>
                  </div>
                  <div class="row">
                    <input
                      class="col"
                      type="text"
                      id="coupon-code"
                      name="coupon-code"
                      placeholder="Enter your coupon code"
                    />
                  </div>
                </div>
              </form>
            </div>
            <hr />
            <div class="message-for-host-cont">
              <div class="head3">Message for your host</div>
              <p>
                Let the host know your check-in time and any special needs for
                your trip
              </p>
              <form action="" id="message-for-host">
                <textarea id="message" name="message"></textarea>
              </form>
            </div>
            <div class="confirm-cont">
              <div class="agreement">
                By selecting the button below, I agree to the House Rules,
                Safety Disclosures, Cancellation Policy, and the Guest Refund
                Policy. I also agree to pay the total amount shown, which
                includes Service Fees.
              </div>
              <button
                id="book-button"
                class="btn btn-info"
              ><a href="/confirm">Book Now</a>
                
              </button>
            </div>
          </div>
        </div>
        <div id="right-column" class="col-6">
            <div class="right-column-cont">
                <div class="room-info-cont">
                    <div class="room-info-img"><img src="/img/room1.jpg" /></div>
                    <div class="room-info-name">
                        Clean & Cozy Studio, Downtown Toronto
                    </div>
                    <div class="room-info-description-2">
                        2 guests - 1 bedroom - 1 bed - 1 bath
                    </div>
                    <div class="room-info-rating">
                        <img width="10px" height="10px" src="/img/star.png" />4.57
                    </div>
                    <br>
                </div>
                <hr />
                <div class="room-price-cont">
                    <div class="head3">Price details</div>
                    <div class="price-calculation">$80 x 3 nights</div>
                    <div class="price">$240</div>
                    <br>
                    <div class="service-fee">Service fee</div>
                    <div class="price">$0</div>
                    <br>
                    <div class="total">Total</div>
                    <div class="price total-price">$240</div>
                </div>
                <hr />
                <div class="cancel">Free cancellation until 4:00 PM on Oct. 8</div>
          </div>
        </div>
    </div>
      </div>
    </div>



    <footer>
      <div class="links-cont">
        <div class="block about-cont">
          <div>ABOUT</div>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Newsroom</a></li>
            <li><a href="">Careers</a></li>
          </ul>
        </div>

        <div class="block support-cont">
          <div>SUPPORT</div>
          <ul>
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Payment & Security</a></li>
            <li><a href="#">Trust & Safety</a></li>
            <li><a href="#">COVID-19 Information</a></li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="footer-cont">
        <div class="copyrights-cont">
          <div class="copyrights-claim">
            &copy; 2020 DayIn, Inc. All rights reserved
          </div>
          <div class="links"><a href="#">Terms</a></div>
          <div class="links"><a href="#">Privacy</a></div>
        </div>
        <div class="social-cont">
          <a href="#"><img src="/img/facebook.png" /></a>
          <a href="#"><img src="/img/twitter.png" /></a>
          <a href="#"><img src="/img/instagram.png" /></a>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
