<div class="main-container main-confirm background-cont fluid-container">
  <div class="confirm-cont">
    <div class="thank-you-message">Thank you for staying with us!</div>
    <div class="confirm-message">
      Your booking for <i>{{title}}</i> was successful. A confirmation has been sent to
      your email. Please check you mailbox for your
      booking details.
    </div>
  </div>

</div>