<div class="main-container main-confirm background-cont fluid-container">
  <div class="confirm-cont">
    <div class="thank-you-message">Hello {{firstName}} {{lastName}}, thank you for your registration!</div>
    <div class="confirm-message">
      You can now <a href="/log-in">log in</a> to find your first stay at DayIn.
    </div>
  </div>
</div>