<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link type="text/css" href="/css/style.css" rel="stylesheet" />
  <link rel="icon" href="/img/logo.png">
  <title>DayIn Your Dream Home</title>
</head>

<body>
  {{>header}}

  <div class="main-homepage">
    <div class="search-section">
      <div class="form-cont">
        <form id="search-form">

          <div class="form-group form-group-search">
            <label for="city">City:</label>
            <input class="form-control" type="text" list="city" placeholder="Going to?" />
            <datalist id="city">
              <option>Calgary</option>
              <option>Hamilton</option>
              <option>Montreal</option>
              <option>Ottawa</option>
              <option>Toronto</option>
              <option>Quebec</option>
              <option>Vancouver</option>
            </datalist>
          </div>


          <div class="form-group form-group-search">
            <label for="guests">Guests:</label>
            <input class="form-control" type="number" min="1" placeholder="Add guests" />
          </div>



          <div class="form-row">
            <div class="form-group form-group-search col-sm-6">
              <label for="check-in">Check-in:</label>
              <br />
              <input class="form-control" type="date" id="check-in" name="check-in-date" min="2020-10-02"
                max="2022-01-01" placeholder="Choose date" />
            </div>
            <div class="form-group form-group-search col-sm-6">
              <label for="check-out">Check-out:</label>
              <br />
              <input class="form-control" type="date" id="check-out" name="check-out-date" min="2020-10-02"
                max="2022-01-01" placeholder="Choose date" />
            </div>


          </div>
          <div class="form-row">
            <div class="form-group form-group-search col">
              <button id="search-button" class="btn btn-info" type="button"><a href="/search-result">Search</a></button>
            </div>
          </div>
      </div>
      </form>
    </div>


    <div class="promo-section">
      <div class="promotion-header">Travel now with DayIn</div>
      <div class="promotion-content">
        Enjoy 15% or more off stays between now and January 4, 2021.
      </div>
    </div>

    <div class="info-image-section">
      <div class="info-cont">
        <div class="info">
          <a href="/search-result">
            <img src="/img/info3.jpg" />
            <div class="info-header">DayIn Toronto</div>
            <div class="info-content">
              Millions of unique accommodations to cater for both travelers
              and locals coming to Toronto.
            </div>
          </a>
        </div>
        <div class="info">
          <a href="/search-result">
            <img src="/img/info2.jpg" />
            <div class="info-header">DayIn Work</div>
            <div class="info-content">
              Boutique hotels and homes around the world make it easy to
              travel and collaborate with your co-workers.
            </div>
          </a>
        </div>
        <div class="info">
          <a href="/search-result">
            <img src="/img/info1.jpg" />
            <div class="info-header">DayIn Adventures</div>
            <div class="info-content">
              A collection of multi-day experiences hosted by local experts.
              Small groups are immersed in unique cultures and communities.
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="info-video-section">
      <div class="row">
        <div class="video-content-cont col-md-6">
          <div class="video-content-head">
            Be a resident of town, not just a visitor
          </div>
          <div class="video-content">Need an escape from your daily life problems? Need a break from your monotonous
            routine? DayIn offers you a variety of scenic locations. Come to experience the lively and authentic local
            culture in different parts of Canada. You will be surprised how life has so much to offer.</div>
        </div>
        <div class="video col-md-6">
          <iframe src="https://www.youtube.com/embed/NVaxw9j2zbQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  {{>footer}}

</body>

</html>