<div class="main-homepage">
 {{>searcher}}


  <div class="promo-section">
    <div class="promotion-header">Travel now with DayIn</div>
    <div class="promotion-content">
      Enjoy 15% or more off stays between now and January 4, 2021.
    </div>
  </div>

  <div class="info-image-section">
    <div class="info-cont">
      <div class="info">
        <a href="/search-result">
          <img src="/img/info3.jpg" />
          <div class="info-header">DayIn Toronto</div>
          <div class="info-content">
            Millions of unique accommodations to cater for both travelers
            and locals coming to Toronto.
          </div>
        </a>
      </div>
      <div class="info">
        <a href="/search-result">
          <img src="/img/info2.jpg" />
          <div class="info-header">DayIn Work</div>
          <div class="info-content">
            Boutique hotels and homes around the world make it easy to
            travel and collaborate with your co-workers.
          </div>
        </a>
      </div>
      <div class="info">
        <a href="/search-result">
          <img src="/img/info1.jpg" />
          <div class="info-header">DayIn Adventures</div>
          <div class="info-content">
            A collection of multi-day experiences hosted by local experts.
            Small groups are immersed in unique cultures and communities.
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="info-video-section">
    <div class="row">
      <div class="video-content-cont col-md-6">
        <div class="video-content-head">
          Be a resident of town, not just a visitor
        </div>
        <div class="video-content">Need an escape from your daily life problems? Need a break from your monotonous
          routine? DayIn offers you a variety of scenic locations. Come to experience the lively and authentic local
          culture in different parts of Canada. You will be surprised how life has so much to offer.</div>
      </div>
      <div class="video col-md-6">
        <iframe src="https://www.youtube.com/embed/NVaxw9j2zbQ" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
</div>
</div>