<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link type="text/css" href="/css/style.css" rel="stylesheet" />
  <link rel="icon" href="/img/logo.png">
  <title>DayIn Your Dream Home</title>
</head>
  <body>
   {{>defaultHeader}}

    <div class="main-room-details main-container">
      <div class="room-main-info">
        <div class="room-name">Clean & Cozy Studio, Downtown Toronto</div>
        <div class="room-rating"><img src="/img/star.png" />4.57</div>
        <div class="room-location">Toronto, Ontario, Canada</div>
        <div class="room-images">
          <div id="room-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#room-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#room-carousel" data-slide-to="1"></li>
              <li data-target="#room-carousel" data-slide-to="2"></li>
              <li data-target="#room-carousel" data-slide-to="3"></li>
              <li data-target="#room-carousel" data-slide-to="4"></li>
              <li data-target="#room-carousel" data-slide-to="5"></li>
              <li data-target="#room-carousel" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="img/room1.jpg" alt="First slide"/>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/room11.jpg" alt="Second slide"/>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/room12.jpg" alt="Third slide"/>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/room13.jpg" alt="Fourth slide"/>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/room14.jpg" alt="Fifth slide"/>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/room15.jpg" alt="Sixth slide"/>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/room16.jpg" alt="Seventh slide"/>
              </div>
            </div>
            <a class="carousel-control-prev" href="#room-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#room-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <div class="room-more-info row">
        <div class="col-md-7">
          <div id="room-description">
            <span class="room-description-1">Entire condominium</span>
            <span><button id="save-button"><img src="/img/heart-blank.png"/>  Save</button></span>
            <span><button id="share-button"><img src="/img/share.png"/>   Share</button></span>
            <div class="room-description-2">
              2 guests - 1 bedroom - 1 bed - 1 bath
            </div>
            <hr />
          </div>
          <div id="room-intro">
            <div>
              News: We added blackout curtains to ensure our guests get good
              sleep:) Please see the pictures.
              <br />
              Unit: Small and cozy. It has everything you need for your stay and
              it is close to everywhere you need to go because it is right on
              Yonge Street.
              <br />
              Location: 5 mins walk to Union station and King subway station. 2
              mins to Harbourfront. 2 mins to Scotiabank Arena, so you can walk to
              our place from a concert, Maple Leafs or Raptors game. 10 mins away
              from U of T, Ryerson and George Brown College.
            </div>
            <br />
            <hr />
          </div>
          <div id="room-amenities">
            <p>Amenities</p>
            <ul>
              <li>Elevator</li>
              <li>Wifi</li>
              <li>Kitchen</li>
              <li>Heating</li>
              <li>TV</li>
              <li>Iron</li>
              <li>Dryer</li>
              <li>Washer</li>
              <li>Essentials</li>
            </ul>
            <button
              class="btn btn-info"
              data-toggle="modal"
              data-target="#amenitiesModal"
            >
              Show all 20 amenities
            </button>
            <hr />
          </div>
        </div>
        <div id="room-reserve" class="col-md-5">
          <form action="" class="reserve-form">
            <div class="room-price"><b>$80</b> / night</div>
            <div class="room-rating"><img src="/img/star.png" />4.57</div>
            <br /><br />
            <div id="check-in-cont">
              <label for="check-in">Check-in:</label>
              <br />
              <input
                type="date"
                id="check-in"
                name="check-in-date"
                min="2020-10-02"
                max="2022-01-01"
                placeholder="Choose date"
              />
            </div>

            <div id="check-out-cont">
              <label for="check-out">Check-out:</label>
              <br />
              <input
                type="date"
                id="check-out"
                name="check-out-date"
                min="2020-10-02"
                max="2022-01-01"
                placeholder="Choose date"
              />
            </div>

            <div id="guests-cont">
              <label for="guests">Guests:</label>
              <br />
              <input type="number" min="1" placeholder="Add guests" />
            </div>
            <div class="room-total-price">
              <div class="total-title">Total</div>
              <div class="total-price">$240</div>
            </div>
            <div class="button-cont">
            <button id="reserve-button" class="btn btn-info">
              <a href="/book-now">Reserve</a>
            </button>
            </div>
          </form>
        </div>
      
      </div>
    </div>

    <div class="modal fade" id="amenitiesModal" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable" role="dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div id="amenities-header-content">Amenities</div>
            <button class="btn btn-light" id="close" data-dismiss="modal">
              X
            </button>
          </div>
          <div class="modal-body amenities-body">
            <div class="amenities-category">Basic</div>
            <ul>
              <li>Wifi</li>
              <hr />
              <li>Laptop-friendly workspace</li>
              <hr />
              <li>TV</li>
              <hr />
              <li>Iron</li>
              <hr />
              <li>Dryer</li>
              <hr />
              <li>Washer</li>
              <hr />
              <li>Essentials</li>
              <hr />
              <li>Heating</li>
              <hr />
              <li>Air Conditioning</li>
              <hr />
              <li>Hot Water</li>
              <hr/>
            </ul>

            <div class="amenities-category">Facilities</div>
            <ul>
              <li>Elevator</li>
              <hr />
              <li>Parking on premises</li>
              <hr />
            </ul>

            <div class="amenities-category">Dining</div>
            <ul>
              <li>Kitchen</li>
              <hr />
              <li>Refrigerator</li>
              <hr />
              <li>Dishwasher</li>
              <hr />
              <li>Microwave</li>
              <hr />
              <li>Dishes and Silverware</li>
              <hr />
              <li>Stove</li>
              <hr />
              <li>Oven</li>
            </ul>
          </div>
          <div class="modal-footer amenities-footer"></div>
        </div>
      </div>
    </div>

    {{>footer}}
  </body>
</html>
