*{
    font-family: 'Tajawal', sans-serif;
    box-sizing: border-box; 
    color:rgb(70, 70, 70);
    padding:0;
    margin:0;
    height: auto;
    overflow-x: hidden;
}

header{
    height: 10vh;
    width: 100%;
    padding: 0;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(223, 223, 223, 0.575);
    position: fixed;
    z-index: 1;
}

nav{
    height: auto;
    width: 85vw;
    margin: 0 7.5%;
    padding: 7px 0;
    display: inline-block;
}

nav .name{
    display: inline-block;
    font-size: 1.8em;
    font-weight: bolder;
}

nav .logo{
    display: inline-block;
    cursor: pointer;
}

nav .logo img{
    width: 40px;
}

nav a{
    text-decoration: none;
    color: rgb(70, 70, 70);
    cursor: pointer;
}

nav a:hover{
    text-decoration: none;
    color: rgb(70, 70, 70);
}

nav .nav-button{
    display: inline-block;
    float: right;
    width: 90px;
    height: 40px;
    margin-left:15px;
    margin-top:10px;
    padding-top:7px;
    text-align: center;
    font-weight: 500;
    border: 0.1px solid white;
    cursor: pointer;
}

nav .nav-button:hover{
    border: 0.1px solid #7ecad6;
    box-shadow: 3px 3px 10px #99d4dd69;
    border-radius: 10px;
}

.log-in-header{
    display: inline-block;
}

#log-in-header-content, #close{
    display: inline-block;
    width: auto;
}

#log-in-header-content{
    font-size: 1.4em;
    font-weight: 700;
    margin: 7px 3% 7px 45%;
}

.log-in-body span{
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 0.2px solid rgb(209, 209, 209);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.log-in-body span:hover{
    border-color: #1b97aa;
    border-width: 1px;
    cursor: pointer;
}

.log-in-body img{
    width: 20px;
    float: left;
}

.log-in-body a{
    text-decoration: none;
    color: black;
}

.log-in-body div{
    text-align: center;
    font-weight: 700;
}

#close{
    float: right;
    width: 50px;
}

.sign-up-header{
    display: block;
}

.modal-header .sign-up-header-content{
    display: block;
    text-align: center;
    margin: auto;  
    font-weight: 500;  
}

.modal-header a{
    text-decoration: none;
}

.modal-body input[type="text"], input[type="password"]{
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 0.2px solid rgb(230, 230, 230);
    border-radius: 5px;
}

.modal-body input:focus, select:focus{
    outline-color: #7ecad6;
}

.modal-body #birthday{
    font-weight: 500;
    margin-left: 50px;
}

.modal-body .notice{
    margin: 0 50px;
    font-size: 0.85em;
}

.modal-content button{
    width: 100px;
}

#birthday-cont{
    display: block;
    width: 80%;
    margin: 20px auto;
}

#birthmonth{
    width: 40%;
}

#birthdate, #birthyear{
    width: 25%;
}

#birthdate{
    margin:auto 10px;
}

.modal-footer button{
    margin: auto;
}
.search-section{
    background: url("../img/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 13px;
    width: 85vw;
    height: 70vh;
    margin: 0 7.5%;
    margin-top:10vh;
    position: relative;
}

.form-cont{
    position: relative;
    background-color: white;
    width: 70%;
    height: 85px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px rgba(64, 103, 116, 0.74);
    padding:0px 20px;
    margin: auto;
    top: 20px;
    background-color: #4aa7b6;
}

.form-cont p{
    position: relative;
    margin: 15px;
    font-size: 1.6em;
    font-weight: bold;
}

#search-form{  
    display: grid;
    grid-template-columns: 28% 18% 18% 14% 10%;
    column-gap: 3%;
    margin: 10px 20px;
}

#search-form label{
    margin: 0;
    padding: 0;
    color: white;
}

#search-form input{
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left:10px;
    border-radius: 10px;
    border: none;
}

#search-form input:focus{
    outline: none;
}

#search-form #city-cont, #search-form #check-in-cont, #search-form #check-out-cont, #search-form #guests-cont{
    height: auto;
    width: 100%;
    margin: 0;
    margin-right: 9px;
}

#search-form .button-cont{
    padding: 10px 20px;
    width: 100%;
    height: auto;
    margin: 0;
}

#search-form .button-cont #search-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: white;
}

#search-form .button-cont button:focus{
    outline: none;
}

#search-form .button-cont img{
    width: 20px;
}

.search-intro{
    font-size: 2em;
    font-weight:700;
    color: #1b4266;
    margin: 360px 0 0 730px;
    font-family: 'Sansita Swashed', cursive;
}

.promo-section{
    background: url("/img/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 13px;
    width: 85vw;
    height: 40vh;
    margin: 0 7.5%;
    margin-top: 100px;
}

.promotion-header{
    position: relative;
    top:50px;
    left: 50px;
    font-family: 'Sansita Swashed', cursive;
    font-size: 3em;
    font-weight: 900;
    color: white;
}

.promotion-content{
    position: relative;
    top:60px;
    left: 50px;
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.2em;
    color: white;
}

.info-image-section{
    background-color:rgb(17, 75, 95);
    margin-top:100px;
    height: 100%;
    width: 100%;
    position: relative;
}

.info-cont{
    margin: 0 7.5%;
    height: 65vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
}

.info{
    height: auto;
    margin-top: 15%;
}

.info a{
    text-decoration: none;
    color:rgb(70, 70, 70);
}

.info img{
    width: 100%;
    height: auto;
}

.info-header{
    font-weight: bold;
    margin-top: 10px;
    color:white;
}

.info-content{
    margin-top: 10px;
    color:white;
}

.info-video-section{
    position: relative;
    width: 85vw;
    height: 50vh;
    display: flex;
    margin: 0 7.5%;
    margin-top: 100px;
}

.info-video-section .video-content{
    display: inline-block;
    float: left;
    width: 50%;
    margin: auto 0px;
    padding-right: 50px;
    font-weight: 500;
    font-size: 1.5em;
    font-style: italic;
}
.info-video-section .video{
    display: inline-block;
    float: right;
    width: 50%;
    height: 50vh;
    overflow: hidden;
}

iframe{
    height: 50vh;
    width: 100%;
    margin: 0;
}

footer{
    background-color: rgb(250, 241, 237);
    margin-top: 100px;
}

.links-cont{
    width: 85vw;
    margin: 30px 7.5%;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
}

.block{
    display: inline-block;
    vertical-align: top;
}

.block div{
    color:rgb(17, 75, 95);
    font-weight: bold;
    font-size: 0.9em;
}

.block ul{
    list-style: none;
}

.block li{
    margin-top: 5px;
}

.block a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}

.block a:hover{
    text-decoration: underline;
}

.support-cont{
    grid-column: 2/3;
}

.footer-cont{
    margin: 20px 7.5%;
    width: 85vw;
    /* display: inline-block; */
}

.copyrights-cont{
    width: 50%;
    height: 100%;
    float: left;
}

.copyrights-cont div{
    width: auto;
    margin-right: 15px;
    display: inline-block;
}

.copyrights-cont a{
    text-decoration: none;
    color: black;
    padding: auto;
}

.copyrights-cont a:hover{
    text-decoration: underline;
    color: #505050;
}

.social-cont{
    width: 50%;
    height: 100%;
    float: right;
}

.social-cont img{
    width:20px;
    margin-right: 10px;
    grid-column: 4/5;
    float: right;
}

.main-room-listing{
    width: 85vw;
    margin: 50px 7.5%;
    margin-top: 10vh;
}

.intro{
    margin-top: 40px;
    font-size:2em;
    font-weight: 600;
}

.room{
    margin-top: 20px;
}

.room a{
    text-decoration: none;
}

.room a:hover{
    text-decoration: none;
}

.room a:hover .room-name{
    color: #1b97aa;
}
.room-image img{
    width: 100%;
    height: 35vh;
}

.room-name{
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.2em;
}

.room-description{
    font-size: 1.1em;
}

.room-location{
    font-weight: 100;
}

.room-price, .room-rating{
    display: inline-block;
}

.room-price{
    font-size: 1.2em;
    font-weight: 500;
    color:#db411b;
    float: right;
}
.room-rating img{
    width: 15px;
}

/* /room-details page styling */

.main-room-details{
    width: 85vw;
    margin: 10vh 7.5%;  
}

.room-main-info{
    margin: 20px 0;
}

.room-main-info .room-name{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 15px;
}

.room-main-info .room-rating, .room-location{
    display: inline-block;
    margin-top: 15px;
    margin-right: 20px;
}

.room-main-info .room-images{
    border: 0.5px solid rgb(209, 209, 209);
    height: auto;
    margin-top: 15px;
}

.room-main-info .room-images img{
    width: 100%;
    height: 70vh;
}

.room-more-info .room-description-1{
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: 500;
}

.room-more-info{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    /* column-gap: 50px; */
    grid-template-areas:    
    "desc reserve"
    "intro reserve"
    "amenities reserve" ;
}

#room-description, #room-intro, #room-amenities, #room-reserve{
    height: auto;
    margin-top: 20px;
}

#room-description{
    grid-area: desc;
}

#room-intro{
    grid-area: intro;
}

#room-amenities{
    grid-area: amenities;
}

#room-amenities ul{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#room-amenities li{
    margin-top: 5px;
}

#room-amenities button{
    margin: 20px 0;
}

#amenities-header-content{
    font-size: 1.4em;
    font-weight: 700;
    margin: 7px 3% 7px 40%;
}

.amenities-body div{
    text-align: center;
    font-weight: 700;
}

.amenities-body li{
    margin: 5px 0 0 40px;
}

#room-reserve{
    width: 85%;
    grid-area: reserve;
    position: relative;
    margin:0 auto;
}

.reserve-form{
    margin: 10px;
    border: 0.1px solid #b4b4b4;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(161, 161, 161, 0.575);
}

#room-reserve .room-price{
    display: inline-block;
    font-size: 1.2em;
    color: rgb(70, 70, 70);
    float: left;
    margin: 20px 10%;
}

#room-reserve .room-rating{
    display: inline-block;
    float: right;
    margin: 20px 10%;
}

#room-reserve #check-in-cont, #check-out-cont, #guests-cont{
    display: block;
    margin: 20px 10% 0 10%;
    width: 80%;
}

.reserve-form input{
    width: 100%;
    margin:0px 0;
}

.reserve-form input:focus{
    outline-color: #1b97aa;
}

.total-title, .total-price{
    display: inline-block;
    margin: 20px 10% 0 10%;
}

.total-title{
    float: left;
    font-weight: 500;
    font-size: 1.2em;
}

.total-price{
    float:right;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: underline;
    color: #db411b;
}

.reserve-form .button-cont{
    width: 80%;
    margin: 20px 10%;
    padding: 0;
    background-color: antiquewhite;
}

#reserve-button{
    width: 100%;
    margin: 0 auto;
}

#reserve-button a{
    text-decoration: none;
    color: white;

}



