*{
    font-family: 'Tajawal', sans-serif;
    box-sizing: border-box; 
    color:rgb(70, 70, 70);
    padding:0;
    margin:0;
    height: auto;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color:rgb(70, 70, 70);
}

.main-container{
    width: 85%;
    height: 100%;
    margin: 80px 7.5% 50px;
    position: relative;
}

.main-homepage{
    margin-top: 100px;
    margin-bottom: 50px;
}

.log-in-header{
    display: inline-block;
}

#log-in-header-content, #close{
    display: inline-block;
    width: auto;
}

#log-in-header-content{
    font-size: 1.4em;
    font-weight: 700;
    margin: 7px 3% 7px 45%;
}

.log-in-body span{
    display: block;
    width: 82%;
    margin: 20px auto;
    height:calc(1.5em + .75rem + 2px);
    padding:.375rem .75rem;
    border: 0.2px solid rgb(209, 209, 209);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
} 

.log-in-body span:hover{
    border-color: #1b97aa;
    border-width: 1px;
    cursor: pointer;
}

.log-in-body img{
    width: 20px;
    float: left;
}

.log-in-body a{
    text-decoration: none;
    color: black;
}

.log-in-body div{
    font-weight: 700;
}

#close{
    float: right;
    width: 50px;
}

.sign-up-header{
    display: block;
}

.modal-header .sign-up-header-content{
    display: block;
    text-align: center;
    margin: auto;  
    font-weight: 500;  
}

.modal-header a{
    text-decoration: none;
}

#or{
    text-align: center;
}

.form-group i{
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: hidden;
}

.form-group small{
    visibility: hidden;
}

.form-group .success{
    visibility: visible;
    color:#2ecc71;
    border-color: #2ecc71;
}
 
.form-group .error{
    visibility: visible;
    color: #e74c3c;
    border-color: #e74c3c;
} 

.form-group .instruction{
    visibility: visible;
}

#birthday{
    margin-top:10px;
    margin-bottom:0px;
}

#birthmonth, #birthdate, #birthyear{
    margin: 1.3%;
}

.modal-body .notice{
    display: block;
}

.log-in-form input[type="submit"]{
    width: 35%;
    margin: 10px 35%;  
}

.search-section{
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url("/img/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    width: 85vw;
    height: 100%;
    margin: 5vh 7.5%;
    position: relative;
}

.form-cont{
    position: relative;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(64, 103, 116, 0.473);
    padding:5px 25px;
    margin: 40px auto;
    background-color: white;
}

.form-cont p{
    position: relative;
    margin: 15px;
    font-size: 1.6em;
    font-weight: bold;
}

#search-form label{
    margin: 0;
    padding: 0;
    color: #1b97aa;
    font-weight: 500;
}

#search-form input:focus{
    outline: none;
}

.form-group-search{
    margin: 5px 0;
}

#search-form #search-button{
    width: 40%;
    height: 40px;
    border-radius: 3px;
    border: none;
    margin: 10px 30%;
}

#search-form #search-button a{
    text-decoration: none;
    color: white;
}

#search-form .button-cont button:focus{
    outline: none;
}

#search-form .button-cont img{
    width: 20px;
    color: white;
}

.search-intro{
    font-size: 2em;
    font-weight:700;
    color: #1b4266;
    margin: 360px 0 0 730px;
    font-family: 'Sansita Swashed', cursive;
}

.promo-section{
    background: url("/img/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    width: 85vw;
    height: 100%;
    margin: 5vh 7.5%;
}

.promotion-header{
    position: relative;
    top:25%;
    left: 5%;
    margin-top:50px;
    font-family: 'Sansita Swashed', cursive;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}

.promotion-content{
    position: relative;
    top:28%;
    left: 5%;
    margin-bottom:50px;
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.4rem;
    color: white;
}

.info-image-section{
    background-color:rgb(17, 75, 95);
    margin:5vh 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.info-cont{
    margin: 0 7.5%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
}

.info{
    height: auto;
    margin: 15% 0;
}

.info a{
    text-decoration: none;
    color:rgb(70, 70, 70);
}

.info img{
    width: 100%;
    height: auto;
}

.info-header{
    font-weight: bold;
    margin-top: 10px;
    color:white;
}

.info-content{
    margin-top: 10px;
    color:white;
}

.info-video-section{
    position: relative;
    width: 85vw;
    height: 100%;
    display: flex;
    margin: 5vh 7.5%;
}

.info-video-section .video-content-cont{
    margin: auto;
    width: 100%;
}

.info-video-section .video-content-head{
    width: 100%;
    font-weight: 500;
    font-size: 1.6rem;
    font-style: italic;
    margin: 10px auto;
}

.info-video-section .video-content{
    font-weight: 500;
    font-size: 1rem;
    font-style: italic;
    margin: 10px auto;
}

.info-video-section .video{
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

iframe{
    height: 50vh;
    width: 100%;
    margin: 0;
}

footer{
    background-color: rgb(250, 241, 237);
    margin-top: 0px;
}

.links-cont{
    width: 85vw;
    margin: 30px 7.5%;
}

.block{
    display: inline-block;
    vertical-align: top;
}

.block div{
    color:rgb(17, 75, 95);
    font-weight: bold;
    font-size: 0.9em;
}

.block ul{
    list-style: none;
}

.block li{
    margin-top: 5px;
}

.block a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}

.block a:hover{
    text-decoration: underline;
}

.footer-cont{
    margin: 20px 7.5%;
    width: 85vw;
}

.copyrights-cont{
    width: 100%;
}

.copyrights-cont a{
    text-decoration: none;
    color: black;
    padding: auto;
}

.copyrights-cont a:hover{
    text-decoration: underline;
    color: #505050;
}

.social-cont img{
    width: 20px;
    float: right;
    margin: 0 5px;
}

/* .main-room-listing{
    width: 85vw;
    margin: 5vh 7.5%;
    margin-top: 10vh;
} */

.intro{
    margin-top: 40px;
    font-size:2em;
    font-weight: 600;
}

.room{
    margin-top: 20px;
}

.room a{
    text-decoration: none;
}

.room a:hover{
    text-decoration: none;
}

.room a:hover .room-name{
    color: #1b97aa;
}
.room-image img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.room-name{
    font-weight: 500;
    font-size: 1.1em;
}

.room-location{
    margin-top: 0;
    font-weight: 100;
}

.room-price, .room-rating{
    display: inline-block;
}

.room-price{
    font-weight: 500;
    color:#db411b;
    float: right;
}

.room-rating img{
    width: 15px;
}

/* /room-details page styling */

/* .main-room-details{
    width: 65vw;
    height: auto;
    margin: 5vh 17.5%;
    margin-top:10vh;  
} */

.room-main-info{
    margin: 40px 0;
}

.room-main-info .room-name{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 15px;
}

.room-main-info .room-rating, .room-location{
    display: inline-block;
    /* margin-top: 15px; */
    margin-right: 20px;
}

.room-main-info .room-images{
    height: auto;
    width: 100%;
    margin-top: 15px;
}

.carousel-item{
    height: auto;
    width: 100%;
}

.room-main-info .room-images img{
   width: 100%;
   height:100%;
   object-fit: cover;
}

.room-more-info .room-description-1{
    font-size: 1.3em;
    font-weight: 500;
}

#room-description button{
    width: 90px;
    height: 30px;
    border: none;
    float: right;
    background-color: white;
}

#room-description button:hover{
    background-color: #f5f5f5bd;
}

#room-description button:focus{
    outline: none;
}

#room-description img{
    width: 20px;
    height: 20px;
}

.room-more-info{
    height: 100%;
    margin-top:40px;
}

#room-description, #room-intro, #room-amenities, #room-reserve{
    height: auto;
    margin-top:0;
}

#room-amenities ul{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#room-amenities p{
    font-size: 1.3em;
    font-weight: 500;
}

#room-amenities li{
    margin-top: 5px;
}

#room-amenities button{
    margin: 20px 0;
}

#amenities-header-content{
    font-size: 1.4em;
    font-weight: 700;
    margin: 7px 3% 7px 40%;
}

.amenities-body div{
    text-align: center;
    font-weight: 700;
    margin-bottom:20px;
}

.amenities-body li{
    margin: 5px 0 0 40px;
}

#room-reserve{
    width: 100%;
    grid-area: reserve;
    position: relative;
    margin:0;
    margin-bottom: 100px;
}

.reserve-form{
    margin: 10px;
    border: 0.1px solid #b4b4b4;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 6px 10px
}

#room-reserve .room-price{
    display: inline-block;
    font-size: 1.2em;
    color: rgb(70, 70, 70);
    float: left;
    margin: 20px 0 20px 10%;
}

#room-reserve .room-rating{
    display: inline-block;
    float: right;
    margin: 23px 10% 20px 0;
}

#room-reserve #check-in-cont, #check-out-cont, #guests-cont{
    display: block;
    margin: 20px 10% 0 10%;
    width: 80%;
}

.reserve-form input{
    width: 100%;
    margin:0px 0;
}

.reserve-form input:focus{
    outline-color: #1b97aa;
}

.total-title, .total-price{
    display: inline-block;
    margin: 20px 10% 0 10%;
}

.total-title{
    float: left;
    font-weight: 500;
    font-size: 1.2em;
}

.total-price{
    float:right;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: underline;
    color: #db411b;
}

.reserve-form .button-cont{
    width: 80%;
    margin: 20px 10%;
    padding: 0;
    background-color: antiquewhite;
}

#reserve-button{
    width: 100%;
    margin: 0 auto;
}

#reserve-button a{
    text-decoration: none;
    color: white;
}

/* book-now page */
/* .main-book-now{
    width: 65%;
    height: auto;
    margin: 5vh 17.5%;
    margin-top: 10vh;
    position: relative;
} */

.trip-details-confirm{
    margin-top:40px;
}

.date-guest-info-cont{
    height: 100%;
    margin-top: 50px;
}

.book-now-room{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 0;
}

.main-book-now img{
    height: 180px;
    width: auto;
}

.main-book-now .edit-button{
    display: inline-block;
    float: right;
    border: none;
    background-color: white;
    text-decoration: underline;
}

.main-book-now .edit-button:focus{
    outline: none;
}

.main-book-now .box{
    margin: 5px;
}


.date-guest-info-cont, .payment-info-cont, .message-for-host-cont{
    height: 100%;
    margin:20px 0;
}

.book-summary{
    padding: 0 0 0 1vw;
}

.head1{
    font-size: 2em;
    font-weight:800;
    margin-bottom: 20px;
}

.head3{
    font-size: 1.5em;
    font-weight:500;
}

.head6{
    font-size: 1.1em;
    font-weight:500;
}

#message{
    width: 100%;
}

.main-book-now .row{
    margin: 0 1px;
}

.main-book-now .col{
    margin: 5px;
}

.main-book-now textarea{
    width: 85%;
    height: 25vh;
}

.main-book-now .agreement{
    font-size: 0.9em;
}

.main-book-now #book-button{
    width: 20%;
    margin: 0 35%;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 500;
}

.main-book-now #book-button a{
    text-decoration: none;
    color: white;
}

.main-book-now .room-info-cont, .room-price-cont, .cancel{
    margin: 30px;
}
.main-book-now .room-info-img img{
    width: 100%;
    margin: 0;
}

.main-book-now .room-info-name{
    font-size: 1.1em;
    font-weight: 500;
}

.main-book-now .room-info-rating{
    float: right;
    display: inline-block;
}

.main-book-now .price, .price-calculation, .service-fee, .total{
    display: inline-block;
}

.main-book-now .price{
    float: right;
}

.main-book-now .total{
    font-weight: 500;
    font-size: 1.2em;
}

.main-book-now .total-price{
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: underline;
    color: #db411b;
    margin: 0;
}

.main-book-now .cancel{
    font-weight: 600;
    font-size: 1.1em;
}

.main-upload-page .head1{
    margin-top: 40px;
}

.main-upload-page .head3{
    margin-top: 20px;
}

.main-upload-page .form-group-upload{
    margin:10px 5% 0 0;
}

.main-upload-page label{
    margin: 0;
}

.main-upload-page input[type="checkbox"]{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.main-upload-page input:focus, .main-upload-page select:focus{
    outline-color: #7ecad6;
}

.main-upload-page #property-type{
    margin-bottom: 10px;
}

.main-upload-page #list-room-photo, #list-price{
    margin-top: 20px;
}

#list-photo-cont{
    height: auto;
    width: 40vw;
}

#list-button{
    width: 200px;
    height: 60px;
    font-size: 1.3em;
    margin-top: 20px;
}

.list-room-info{
    display: inline-block;
    width: 50%;
}

.side-photo{
    display: inline-block;
    float: right;
    width: 50%;
    margin-top:20px;
}

.side-photo img{
    width: 100%;
    height: auto;
}

.main-confirm{
    margin:0;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url("/img/confirm.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.confirm-cont{
    width: 85%;
    margin-top:370px;
    margin-left:13%;
}

.thank-you-message{
    font-size: 1.8rem;
    font-weight: 600;
    color:antiquewhite;
}

.confirm-message, .confirm-message i{
    width: 50%;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

#confirm-image{
    width: 50%;
    margin: 10px auto;
}

#confirm-image img{
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) {

}

@media (max-width: 990px) { 
    .form-cont{
        width: 40%;
    }

    .promotion-header{
        font-size: 2rem;
    }
    
    .promotion-content{
        font-size: 1.2rem;
    }

    .info-video-section .video-content-head{
        font-size: 1.3rem;
    }

    .info-video-section .video-content{
        font-size: 0.9rem;
    }

    .room .room-location{
        font-size: 0.9rem;
    }
    
    .room .room-name{
        font-size:0.9rem;
    }

    .room .room-description{
        font-size: 0.8rem;
    }

    .room .room-price{
        font-size: 0.9rem;
    }

    .main-book-now #book-button{
        width: 30%;
    }

    .thank-you-message{
        font-size: 1.5rem;
        font-weight: 600;
    }

    .confirm-message, .confirm-message i{
        font-size: 1rem;
        font-weight: 400;
    }
}

@media (max-width: 768px) { 
    .form-cont{
        width: 70%;
    }

    .promotion-header{
        top:39%;
        left: 5%;
        font-size: 1.3rem;
        font-weight: 900;
    }
    
    .promotion-content{
        top:40%;
        left: 5%;
        font-size: 0.8rem;
    }

    .info-video-section .video-content-head{
        text-align: center;
    }

    .info-video-section .video-content{
        text-align: center;
    }

    .info-header{
        font-size: 0.9rem;
        font-size: 400;
    }

    .info-content{
        font-size:0.9rem;
    }

    .room .room-location{
        font-size: 1rem;
    }

    .room .room-name{
        font-size:1.1rem;
    }

    .room .room-description{
        font-size: 1rem;
    }

    .thank-you-message{
        font-size: 1.3rem;
        font-weight: 500;
    }

    .confirm-message, .confirm-message i{
        font-size: 0.9rem;
        font-weight: 400;
    }

    .head1{
        font-size: 1.5rem;
    }

    .head3{
        font-size: 1.1rem;
    }

    .head6{
        font-size: 1rem;
    }
}

@media (max-width: 578px) { 
    .form-cont{
        height:100%;
    }

    .promotion-header{
        font-size: 1rem;
        font-weight: 900;
    }
    
    .promotion-content{
        font-size: 0.5rem;
    }

    .info-video-section .video-content-head{
        font-size: 1rem;
    }

    .info-video-section .video-content{
        font-size: 0.75rem;
    }

    .block{
        text-align: center;
    }

    .copyrights-cont{
        text-align: center;
    }
    
    .social-cont{
        align-self: center;
    }

    .social-cont img{
        float: none;
        margin-top:10px;
    }

    .info-header{
        font-size: 0.75rem;
        font-size: 300;
    }

    .info-content{
        font-size:0.5rem;
    }

    .thank-you-message{
        font-size: 1rem;
        font-weight: 500;
    }

    .confirm-message, .confirm-message i{
        width: 65%;
        font-size: 0.8rem;
        font-weight: 300;
    }

    .main-book-now #book-button{
        width: 40%;
    }

    .main-book-now img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

